<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Simple Crud NodeJs, Bootstrap 5</title>
    <meta name="description" content="Simple Crud NodeJs, Bootstrap 5">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="">
    <link rel="apple-touch-icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="/assets/datatables-bs5/dataTables.min.css">

    <script src="/sweetalert2/sweetalert2.min.js"></script>
</head>
<body style="background-color:rgba(0,0,0,0.10);">
<div class="bg-primary py-3 sticky-top">
    <h4 class="text-center text-white"> <%= title %> </h4>
</div>